.rutine-list__header {
  padding-top: 3em;
}

.rutine-list__content {
  margin-top: 2em;
}

.rutine-list__footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  min-height: 6em;
  width: 100%;
}
